Commerical packages do lots of internal verificaiton for you

But some tasks lie on the user:

- ensuring the setup of the CFD model is appropriate
	- boundary conditions
	- equations
	- parameter values
	- physical models
		- turbulence, buoyancy, multiphase
	- convergence